<h2 class="text-2xl font-bold mt-5">Buscar Gifs</h2>
<h3>Buscar gifs por nombre, descripción o tags</h3>

<section class="flex flex-col gap-4">
  <input
    type="text"
    placeholder="Buscar gifs"
    class="mt-3 border border-gray-400 rounded-md p-2"
    (keyup.enter)="searchGifs(txtSearch.value)"
    #txtSearch
  />
</section>

<section class="py-5">
  @if (gifsList().length > 0) {
  <h2 class="text-2xl font-bold mt-5">Resultados</h2>
  <app-gif-list [gifsList]="gifsList()"></app-gif-list>
  }
</section>
